{% extends "base.html" %}
{% block title %}
   タイトル
 {% endblock %}
   
   
   
{% block content %}
    
   <h1>{{ area.area_name }} 店舗一覧</h1>
   <table border="1">
       <thead>
           <tr>
               <th>店舗名</th>
               <th>住所</th>
               <th>価格</th>
               <th>地図</th>
           </tr>
       </thead>
       {% for store in object_list %}
       <tr>
           <td>
            <a href="/store/{{ area.area_id }}/{{store.store_id }}/">
            {{ store.store_name }}
            </a>
            </td>
           <td>{{ store.address }}</td>
           <td>{{ store.price }} 円</td>
           <td> <iframe src="https://www.google.com/maps/embed/v1/place?q={{ store.store_name }}&key=AIzaSyA5KE6CMVwnPELIUmcN6776I6R2pUcRPLU&zoom=15"></iframe><td>
        </tr>
       {% endfor %}
   </table>
       

 {% endblock %}

