{% extends "base.html" %}

{% block title %}
    {{ store.store_name }}
{% endblock %}

{% block content %}
    <h1>
        <a href="/area/{{ area.area_id }}/">
            {{ area.area_name }} 店舗一覧
        </a>
        <span> > {{ store.store_name }}</span>
    </h1>

    <h1>{{ store.store_name }}</h1>
    <p>{{ store.address }}</p>
    <p>{{ store.price }} 円</p>
    <div class="mb-4">
        {% for store_tag in store_tags %}
            <span class="badge bg-primary">{{ store_tag.tag.tag_name }}</span>
        {% endfor %}
    </div>
    <iframe src="https://www.google.com/maps/embed/v1/place?q={{ store.store_name }}&key=AIzaSyA5KE6CMVwnPELIUmcN6776I6R2pUcRPLU&zoom=15"></iframe>
{% endblock %}